@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Manjari', sans-serif;
}
/* body{
  background: red;
} */
/* .Mfooter{
  border-top: 80px solid black;
} */

/* -------------- nav-bar------------ */

nav {
    background: #191919;
    padding: 0 15px;
    
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo img{
    width: 210px;
    float: left;
    margin: 0 0 10px 0;
  }
  
  .item {
    padding: 20px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  .menu li a {
    display: block;
    padding: 15px 25px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
      height: 100%;
      width: 100%;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
      background: #0080ff;
      border: 1px royalblue solid;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      /* background: transparent; */
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }
/* ------------- nav-bar--------- */


/* Responsive code start */
@media screen and (max-width: 1321px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 300px;
  }
  .content .links li a{
    padding: 8px 8px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
  .content .links li a, .content .links li label{
    font-size: 17px;
  }
}
@media screen and (max-width: 1250px){
 
  nav .content .links{
    margin-left: 100px;
  }
  
}

@media screen and (max-width: 1035px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  
}

@media screen and (max-width: 575px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
@media screen and (max-width: 370px){
 .logo{
  width: 260px;

 }
 .logo img{
  width: 250px;
  height: 100px;
  margin-top: 2px;
 }
}
/* -------------nav-end------- */

/*---------------About-us------*/

/* Page 1 */


.About-us-hello{
  height: 100vh;
}

.container-about-us{
 position:relative;
 margin:110px auto;
 z-index: 1;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 row-gap: 12px;
 column-gap: 15px;
}

.header{
  grid-column-start: 1;
  grid-column-end: 4;
}
.container-about-us .box{
  position:relative;
  color:#fff;
  background-color: rgb(25, 25, 25);
  height: 70vh;
  width: 60vh;
  justify-self: center;
  box-shadow: 10px 10px 10px 0 gray;
  
}
.container-about-us .box .ConBox{
  padding: 20px;
}
  
/* Page-2 */
.page-two{
  display: grid;
  grid-template-columns: 2;
  /* row-gap: 12px; */
}

.page-two .who-we-are{
  background-color: #000000;
  height: 50vh;
  /* border-width: 12px;
  border-color: #ffffff; */
}

.page-two .who-we-are .image-one{
  float: left;
  margin-top: 80px;
  margin-left: 40px;
}

.page-two .who-we-are .okay-one{
  text-align: right;
  line-height: 350px;  
  padding-right: 300px;

}

.page-two .how-we-help .image-two{
  float: right;
  margin-top: 80px;
  margin-right: 40px;
}

.page-two .how-we-help .okay-two{
  line-height: 150px;  
  padding-left: 300px;
}

.page-two .how-we-help .okay-two-text{
  width: 1100px;
  padding-left: 80px;
  
}


/* Page-3 */
.page-three{
  display: grid;
  grid-template-columns: 8;
  height: 100vh;
}

.page-three .how-we-work{
  font-size: 8vh;
  text-align: center;
  padding-top: 30vh;
  border-color: #000000;
  
}

.page-three .bullets{
  grid-column-start: 2;
  grid-column-end: 8;
  background-color: black;
  
  
  /* border-width: 12px;
  border-color: #ffffff; */
}

.page-three .bullets .empty{
  padding: 5% 0 0 10%;
  line-height: 2.5em;
}

/* Page-4 */
.page-four{
  display: grid;
  grid-template-columns: 8;
  height: 100vh;
}

.page-four .how-we-work{
  font-size: 8vh;
  text-align: center;
  padding-top: 30vh;
  grid-column-start: 8;
}

.page-four .bullets-two{
  grid-column-start: 1;
  grid-column-end: 8;
  background-color: black;
  text-align: center;
  /* border-width: 12px;
  border-color: #ffffff; */
}
/* ----------------------------------------------------- */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700); */
*, *:after, *:before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* font-family: inherit; */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  /* font: 300 13px/1.6 Roboto, Helvetica, Arial; */
  /* color: rgb(255, 255, 255); */
  position: relative;
  background: #448AFF;
  height: 100vh;
  text-align: center;
/*background: #3f51b5;*/

background: url('http://ali.shahab.pk/blur.php?img=http://ali.shahab.pk/ali-shahab.jpg&x=250') no-repeat center center;
background-size: cover;
}
body:after{
content: "";
display: block;
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
/* background-color: rgba(0,0,0,.5); */
z-index: -1
}

ul{
  list-style: none;
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border: 0;
  margin-left: 25%;

}

.profile-card{
width: 380px;
border-radius: 2px;
overflow: hidden;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
position: relative;
margin: 10% 0 0 15%;
background: rgba(255,255,255,1);
top: 30%;
transform: translateY(-50%);
float: left;


}

.profile-card header{
display: block;
position: relative;
background: rgba(255,255,255,1);
text-align: center;
padding: 30px 0 20px;
z-index: 1;
overflow: hidden;
}

.profile-card header:before{
content: "";
position: absolute;
background: url('http://ali.wshahab.pk/blur.php?img=http://ali.shahab.pk/ali-shahab.jpg&x=60') no-repeat;
background-size: cover;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: -1;

}

.profile-card header:after{
content: "";
position: absolute;
bottom: -1px;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
);
}

.profile-card header img{
border-radius: 100%;
overflow: hidden;
width: 150px;
/*border: 1px solid rgba(255,255,255,.5);*/
box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
}

.profile-card header h1{
font-weight: 200;
font-size: 42px;
color: #444;
letter-spacing: -3px;
margin: 0;
padding: 0;
}

.profile-card header h2{
font-weight: 400;
font-size: 14px;
color: #666;
letter-spacing: .5px;
margin: 0;
padding: 0;
}

.profile-card .profile-bio{
padding: 0 30px;
text-align: center;
color: #888;
}

.profile-card .profile-social-links{
display: table;
width: 50%;
margin: 20px auto;
}

.profile-card .profile-social-links li{
display: table-cell;
width: 35%
}

.profile-card .profile-social-links li a{
display: block;
text-align: center;
padding: 10px;
margin: 0 10px;
/* border-radius: 100%; */
-webkit-transition: box-shadow 0.2s;
-moz-transition: box-shadow 0.2s;
-o-transition: box-shadow 0.2s;
transition: box-shadow 0.2s;
}
.profile-card .profile-social-links li a:hover{
box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}

.profile-card .profile-social-links li a:active{
box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.profile-card .profile-social-links li a img{
width: 100%;
display: block;
}

/* ------------------------------------------- */


@media(max-width:800px){
  .box {
    grid-template-columns:repeat(2,1fr);
}
}

      
@media(max-width:500px){
  .box {
      grid-template-columns:repeat(1,1fr);
  }
}  

/* --------------footer--------- */
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  }
  *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
  .container{
  max-width: 1170px;
  margin:auto;
  }
  .row{
  display: flex;
  flex-wrap: wrap;
  }
  ul{
  list-style: none;
  }
  .footer{
  background-color: #000000;
  padding: 70px 0;
  }
  .footer-col{
  width: 25%;
  padding: 0px 15px;
  }
  .footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  }
  .footer-col h4::before{
  content: '';
  position: absolute;
  /* left: 0px ; */
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 120px;
  }
  .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
  }
  .footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
  }
  .footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
  }
  img{
  margin-bottom: 20px;
  }
  
  /*responsive FOOTER*/
  @media(max-width: 854px){
  .footer-col{
  width: 50%;
  margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
  .footer-col{
  width: 100%;
  }
  }

